.ppredirect-general select, .ppredirect-general input[type="text"]{
	width: 50%;
}
.ppredirect-wrap .ppredirect-heading h1 {
	font-size: 108%;
}
.ppredirect-wrap .heading-desc {
	position: absolute;
	right: 215px;
	top: 20px;
}
.ppredirect-wrap .heading-desc p {
	margin: 0;
}
.ppredirect-notice {
	padding-top: 75px;
	margin-right: 10px;
}
.ppredirect-notice .notice {
    margin: 0 0 15px 0;
}
.ppredirect-sticky-top .ppredirect-heading {
	-webkit-box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.3);
	box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.3);
}
.ppredirect-heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #fff;
	margin-left: -20px;
	padding: 12px 0 12px 40px;
	position: fixed;
	width: 100%;
	z-index: 10;
}
.ppredirect-heading h1 {
	font-size: 108%;
}
a.nav-tab {
	cursor: pointer;
}
.wflproinfo {
	background: #FF8C00;
	color: white;
	border-color: #FFA500;
	width: 125px;
	text-align: center;
}
.ppredirect-content-wrap{
	width: 100%;
	display: inline-block;
}
.ppredirect-main{
	width: 74%;
	float: left;
}
.ppredirect-side{
	width: 25%;
	display: inline-block;
}
.ppredirect-sidebar .sidebar_top {
	background-image: url(../images/admin-banner.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
	background-size: cover;
}
.ppredirect-sidebar .sidebar_top h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
	padding-bottom: 5px;
	line-height: 1.2;
	margin: 0;
}
.ppredirect-sidebar .sidebar_top .tagline_side {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.5px;
	color: #fff;
	padding-bottom: 30px;
}
.ppredirect-sidebar .sidebar_top a {
    height: 28px;
    width: 105px;
    color: #ffffff;
    background: #FF8C00;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 20px 0px 20px;
    margin: auto;
    margin-bottom: 45px;
}
.ppredirect-sidebar .sidebar_bottom {
	background: #ffffff;
	padding: 20px 20px;
}
.ppredirect-sidebar .support {
	background: #ffffff;
	padding: 20px;
	margin-top: 15px;
}
/* new */
.ppredirect-input{
	display: none;
}
img.ppredirect-admin-img {
	width: 200px;
}
th#color {
	width: 40px;
}
.ppredirect-value div {
	width: 31px;
	height: 31px;
	border: 1px solid rgba(0,0,0,.2);
}
input.admin-tooltip {
	margin: 15px 0;
}
.ppredirect-input-field.ppredirect-input-image img {
	width: 150px;
	border: 1px solid #000;
	margin-right: 10px;
}
#edittag .form-field:has(.ppredirect-att-type) {
	margin-bottom: 15px;
}
.form-field.ppredirect-input-field label, .form-field:has(.ppredirect-att-type) label {
	display: block;
	padding: 2px 0;
}
.ppredirect-sidebar .sidebar_bottom li {
	padding-bottom: 18px;
	background-position-y: 2px;
}
.sidebar_top span {
	color: #fff;
	font-size: 25px;
	display: block;
	margin-bottom: 30px;
}
@media only screen and (max-width: 960px){
    .ppredirect-wrap .heading-desc{
        right: 90px;
    }
}
@media only screen and (max-width: 782px){
    .ppredirect-wrap .heading-desc{
        right: 40px;
    }
}
@media only screen and (max-width: 767px) {
	.ppredirect-content-wrap{
		width: 100%;
	}
	.ppredirect-main{
		width: 100%;
	}
	.ppredirect-side{
		width: 100%;
		margin-top: 20px;
	}
	.ppredirect-general select, .ppredirect-general input[type="text"]{
		width: 98% !important;
	}
	.ppredirect-sidebar{
		padding-right: 10px;
	}
	.ppredirect-heading {
		padding: 12px 0 12px 25px;
	}
	.ppredirect-wrap .heading-desc {
		right: 25px;
	}
	.ppredirect-main input[type="submit"]{
		margin-top: 15px;
	}
	.ppredirect-notice .notice a.button {
		line-height: 28px;
		min-height: 28px;
	}
}
@media only screen and (max-width: 600px) {
	.ppredirect-sticky-top .ppredirect-heading{
		top: 0;
	}
}
@media only screen and (max-width: 540px) {
	.heading-desc{
        display: none;
    }
}